h1{
    font-family:'Courier New', Courier, monospace;
    font-style:inherit;
    color:rgb(175, 80, 42);
}

a{
    font-family:'Courier New', Courier, monospace;
    font-size:larger;

}
p{
    font-family:'Courier New', Courier, monospace;
    font-size:large;

}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(31, 44, 44);
   color: rgb(22, 21, 20);
   background-image: url(https://wallpapercave.com/wp/wp2863770.jpg);}
a{color: rgb(14, 15, 15);
}

img{
    max-width: 300px;
}

p {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
